

/* ==========================================================================
   Julio Sarango
   ========================================================================== */

body {
	margin: 0;
	padding: 0;
	font-size: 1.4em;
	line-height: 1.6em;
}

/* agregamos estilo solo a los section principales*/

body > section {
	clear: both;
	padding: 50px 0;
}

/* principal */
section#principal {
	min-height: 700px;
	padding-top: 100px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e3d5a+0,0c223b+100 */
	background: #1e3d5a; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e3d5a 0%, #0c223b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1e3d5a 0%,#0c223b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1e3d5a 0%,#0c223b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3d5a', endColorstr='#0c223b',GradientType=0 ); /* IE6-9 */

}

h1, h2 {
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	color: #0c243D;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.4em;
}

/*h2*/

h2 {
	color: #0c243D;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4em;
}

h2.parallax {
	font-size: 3.6em;
	font-weight: 700;
	text-transform: none;
	color: #ffffff;
	text-shadow: 0px 7px 8px black;
	-webkit-text-shadow: 0px 7px 8px black;
	-moz-text-shadow: 0px 7px 8px black;
}

/*separador*/

.separador {
	width: 40px;
	height: 4px;
	display: block;
	margin: 0 auto;
	background-color: #0c243D;
	margin-bottom: 30px;
}

.grisBG {
	background-color: #f5f5f5;
}

.azulBG {
	background-color: #123156;
}

/*  app */

section#app .social {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #123156;
	margin: 0 auto;
	line-height: 180px;

}

/*características*/

section#caracteristicas p{
	font-size: .9em;
	color:#858585;
}

section#caractetisticas .caracteristica {
	margin-bottom: 20px;
	clear: both;

}

section#caracteristicas .icono {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #123156;
	margin: 0 auto;
	line-height: 140px;
	text-align: center;

}

/* PANTALLAS */

div.modal-body {
	text-align: center;
}

div.modal-body img {
	max-height: 90%;
}

/*parallax*/

section#parallax {
	height: 500px;
	background-image: url(../img/ipadApp.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

/*DESCARGAR*/

section#descargar div.contenidoDescarga {
	height: 700px;
}

section#descargar div.phone {
	width: 50%;
	float: left;
	height: 100%;
	box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15) ;
	-webkit-box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15) ;
	-moz-box-shadow: inset -7px -7px 12px -2px rgba(0,0,0,.15) ;
	z-index: 1;
	text-align: center;
}

section#descargar div.derechaVacio {
	width: 50%;
	background-color: #f5f5f5;
	float: right;
	height: 100%;
	z-index: 2;
	background-image: url(../img/descargaAppBG.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

section#descargar .descarga {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
}

section#descargar .plataformas > div {
	border-radius: 20px;
	border: 3px solid #0c243D;
	padding: 11px 0;
	font-size: 1.2em;
	position: relative;
	padding-left: 50px;
	color: #0c243D;
}

section#descargar .plataformas > div span {
	font-weight: bold;
}

/*seporte*/

section#soporte h1 {
	color: #ffffff;
}

section#soporte .separador {
	background-color: #ffffff;
}

section#soporte p {
	color: #ffffff;
	font-size: 1.6em;
	margin-bottom: 20px;
}

section#soporte .campos {
	background-color: #123156;
	border: 2px solid #ffffff;
	border-radius: 10px;
	color: #ffffff;
}

section#soporte form {
	margin-top: 30px;	
}

section#soporte input {
	min-height: 50px;
	margin-bottom: 20px;
}

section#soporte textarea {
	min-height: 200px;	
}

section#soporte .btn.btn-default {
	background: #ffffff;
	border-radius: 14px;
	padding: 5px 43px;
	font-size: 1.4em;
	text-transform: uppercase;
}

::-webkit-input-placeholder {
	color: #ffffff !important;
}

input:-moz-placeholder {
	color: #ffffff !important;
}
input::-moz-placeholder {
	color: #ffffff !important;
}

:-ms-input-placeholder {
	color: #ffffff !important;
}















